# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv/
venv/
ENV/

# Django
db.sqlite3
staticfiles/
media/

# IDE
.idea/
.vscode/
*.code-workspace

